<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #Kalenteri {
            font-family: Arial, Helvetica, sans-serif;
            align-content: center;
            text-align: center;
            border-collapse: collapse;
            width: 100%;
        }

            #Kalenteri td, #Kalenteri th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #Kalenteri tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #Kalenteri tr:hover {
                background-color: #ddd;
            }

            #Kalenteri th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h3>Tutorpalvelu</h3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <!-- tähän if lause  -->
                        <!--- että näyttää ei-kirjautuneelle TÄMÄN LINKIN -->

                        @using Microsoft.AspNetCore.Http;
                        @{var id = Context.Session.GetInt32("id");}
                        @if (id != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Henkilö" asp-action="Index">Etusivu</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Etusivu</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Palvelu" asp-action="HaePalvelut">Palvelu</a>
                        </li>

                        @if (id != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Henkilö" asp-action="LisääPalvelu">Lisää palvelu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Henkilö" asp-action="HaeTutorinPalvelut">Omat palvelut</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Henkilö" asp-action="OmatTiedot">Omat tiedot</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Uloskirjaus">Uloskirjautuminen</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Henkilö" asp-action="LisääHenkilö">Rekisteröidy</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
