@model WebApplication1.Models.Palvelu

@{
    ViewData["Title"] = "EditoiPalvelua";
}

<h1>EditoiPalvelua</h1>

<h4>Palvelu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditoiPalvelua" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PalveluId" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tyyppi" class="control-label"></label>
                <select asp-for="Tyyppi" class="form-control">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
                <span asp-validation-for="Tyyppi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ryhmä" class="control-label"></label>
                <input asp-for="Ryhmä" class="form-control" />
                <span asp-validation-for="Ryhmä" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinta" class="control-label"></label>
                <input asp-for="Hinta" class="form-control" />
                <span asp-validation-for="Hinta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pvm" class="control-label"></label>
                <input asp-for="Pvm" class="form-control" />
                <span asp-validation-for="Pvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kesto" class="control-label"></label>
                <input asp-for="Kesto" class="form-control" />
                <span asp-validation-for="Kesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sijainti" class="control-label"></label>
                <input asp-for="Sijainti" class="form-control" />
                <span asp-validation-for="Sijainti" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Varattu" /> @Html.DisplayNameFor(model => model.Varattu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
