@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Testi 5</p>
<p>Tähän lista tietyn tuutorin palveluista sekä linkki lomakkeeseen jolla niitä voi lisätä</p>