@model WebApplication1.Models.Palvelu

@{
    ViewData["Title"] = "LisääPalvelu";
}

<h3>Lisää palvelu</h3>

@if (ViewBag.Virhe != null)
{
    <h4 style="color: red">Palvelun lisääminen epäonnistui, yritä uudelleen!</h4>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="LisääPalvelu" class="form-floating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tähän nimesi"/>
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tyyppi" class="control-label">Kategoria</label>
                <select asp-for="Tyyppi" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="esim. Musiikki">
                    <option value="Kotitalostaidot">Kotitaloustaidot</option>
                    <option value="Liikunta">Liikunta</option>
                    <option value="Business">Business</option>
                    <option value="Käsityöt">Käsityöt</option>
                    <option value="Musiikki">Musiikki</option>
                </select>
                <span asp-validation-for="Tyyppi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ryhmä" class="control-label">Alakategoria</label>
                <input asp-for="Ryhmä" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="esim. harpunsoitto"/>
                <span asp-validation-for="Ryhmä" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinta" class="control-label"></label>
                <input type="text" name="Hinta" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Euroissa ja senteissa €"/>
                <span asp-validation-for="Hinta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pvm" class="control-label"></label>
                <input asp-for="Pvm" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Päivämäärä"/>
                <span asp-validation-for="Pvm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kesto" class="control-label"></label>
                <input asp-for="Kesto" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Kesto minuuteissa"/>
                <span asp-validation-for="Kesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sijainti" class="control-label"></label>
                <input asp-for="Sijainti" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Kaupungin ja kaupunginosan nimi "/>
                <span asp-validation-for="Sijainti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kuvaus" class="control-label"></label>
                <input asp-for="Kuvaus" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Vapaamuotoinen kuvaus palvelustasi"/>
                <span asp-validation-for="Kuvaus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Varattu" /> @Html.DisplayNameFor(model => model.Varattu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Lisää palvelu" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Takaisin</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
