@{
    ViewBag.Title = "Omat palvelut";
}

<h1>Omat palvelut</h1>

<p>Olet tarjonnut <b>@ViewBag.EriTyyppienMäärä</b> eri tyyppistä palvelua ja palveluita kaiken kaikkiaan yhteensä <b>@ViewBag.PalveluidenMäärä</b> kappaletta. </p>

<br />
<h2>Palvelut:</h2>
<div>
    <ul>
        @foreach (var palvelu in ViewBag.OP)
        {
            <li>@palvelu.Nimi</li>
        }
    </ul>
</div>