@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Tapahtui virhe</h3>
<p class="alert alert-danger" role="alert">Yritit kaataa tämän sivun ja Marko setä on nyt hyvin vihainen >=(</p>
<button class="btn btn-outline-primary">@Html.ActionLink("Uusi käyttäjä", "LisääHenkilö", "Henkilö")</button><br />

<button class="btn btn-outline-secondary"> @Html.ActionLink("Kirjaudu", "Index", "Home")</button>