@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Tapahtui virhe</h2>
<p>Yritit kaataa tämän sivun ja Marko setä on nyt hyvin vihainen >=(</p>
<br />
@Html.ActionLink("Uusi käyttäjä", "LisääHenkilö", "Henkilö")
<br />
@Html.ActionLink("Kirjaudu", "Index", "Home")