@{
    ViewData["Title"] = "Uloskirjaus";
}

<div class="text-center">
    
    <h3 class="display-4"> Mukava kun kävit! Sinut on nyt uloskirjattu palvelusta.</h3>
    <button class="btn btn-outline-secondary"> @Html.ActionLink("Palaa etusivulle", "Index", "Home")</button>
   
</div>
