@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Tapahtui virhe</h3>
<p class="alert alert-danger" role="alert"> Tarkista että olet kirjautunut</p>
    @Html.ActionLink("Uusi käyttäjä", "LisääHenkilö", "Henkilö")<br />
    @Html.ActionLink("Kirjaudu", "Index", "Home")
